<h1>Reset your password</h1>

<%= form_with url: searls_auth.password_reset_update_path, method: :patch do |f| %>
  <%= f.hidden_field :token, value: @token %>
  <%= f.hidden_field :redirect_path, value: params[:redirect_path] %>
  <%= f.hidden_field :redirect_host, value: params[:redirect_host] %>
  <div>
    <%= label_tag :email, "Email address" %>
    <%= email_field_tag :email, @user_email, disabled: true %>
  </div>
  <div>
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autocomplete: "new-password", required: true %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>
  <div>
    <%= f.submit "Update password" %>
  </div>
<% end %>

<p>
  Remembered it? <%= link_to "Log in", searls_auth_helper.login_path %> instead.
</p>
