<h1>Log In</h1>

<%= form_with url: searls_auth.login_path, method: :post, data: {controller: searls_auth_helper.login_stimulus_controller} do |f| %>
  <%= f.hidden_field :redirect_path, value: params[:redirect_path] %>
  <%= f.hidden_field :redirect_subdomain, value: params[:redirect_subdomain] %>
  <%= render "searls/auth/shared/login_fields", f: f %>
  <div>
    <%= f.submit "Log in" %>
    <% if Searls::Auth.config.auth_methods.include?(:password) && (Searls::Auth.config.auth_methods & [:email_link, :email_otp]).any? %>
      <%= button_tag "Send login email", name: "send_login_email", value: "1", type: "submit" %>
    <% end %>
  </div>
  <% if searls_auth_helper.password_reset_available? %>
    <div>
      <%= link_to "Forgot your password?", searls_auth_helper.password_reset_request_path %>
    </div>
  <% end %>
<% end %>

<p>
  Not registered yet? <%= link_to "Sign up", searls_auth_helper.register_path %> instead!
</p>
