<h1>Create your account</h1>

<%= form_with url: searls_auth.register_path, data: {controller: searls_auth_helper.login_stimulus_controller} do |f| %>
  <%= f.hidden_field :redirect_path, value: params[:redirect_path] %>
  <%= f.hidden_field :redirect_subdomain, value: params[:redirect_subdomain] %>
  <%= render "searls/auth/shared/register_fields", f: f %>
  <%= f.submit "Register" %>
<% end %>

<p>
  Already have an account? <%= link_to "Log in", searls_auth_helper.login_path %> instead.
</p>
